<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureSight - Login</title>
    <style>
        .form-inactive {
            display: none;
        }
        .form-active {
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Forms de login e cadastro -->
        <div class="half black">
            <div class="login-form">
                <h1 id="form-title">LOGIN</h1>
                <span id="form-description">Entre com sua conta em SecureSight</span>
                <form id="signin" class="form-active" action="{{ url_for('routes.login') }}" method="POST">
                    <div class="input-container">
                        <input type="email" id="email" name="email" placeholder="Email do usuário" required>
                        <i class="fa-solid fa-envelope input-icon6"></i>
                        <input type="password" id="password" name="password" placeholder="Senha do usuário" required>
                        <i class="fa-solid fa-lock input-icon7"></i>
                    </div>
                    <input type="submit" value="Entre Agora!" name="Enter">
                    <span id="toggle-form">Não tem conta?<a href="#" id="toggle-link-to-signup"> Cadastre-se Já!</a></span>
                </form>
                <form id="signup" class="form-inactive" action="{{ url_for('routes.signup') }}" method="POST">
                    <h1 id="form-title-signup">CADASTRO</h1>
                    <span id="form-description-signup">Crie sua conta em SecureSight</span>
                    <div class="input-container">
                        <input type="text" id="nome" name="nome" placeholder="Nome do usuário" required>
                        <i class="fa-solid fa-user input-icon1"></i>
                        <input type="email" id="signup_email" name="email" placeholder="Email do usuário" required>
                        <i class="fa-solid fa-envelope input-icon2"></i>
                        <input type="text" id="number" name="number" placeholder="Número de telefone" required>
                        <i class="fa-solid fa-phone input-icon3"></i>
                        <input type="password" id="signup_password" name="password" placeholder="Sua senha segura" required>
                        <i class="fa-solid fa-lock input-icon4"></i>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Senha" required>
                        <i class="fa-solid fa-lock input-icon5"></i>
                    </div>
                    <input type="submit" value="Registre-se" name="Enter">
                    <div id="signupError" class="error-message" style="display: none;"></div>
                    <span id="toggle-form" class="span2">Já tem uma conta?<a href="#" id="toggle-link-to-login"> Entre Já!</a></span>
                </form>                
            </div>
        </div>
        <div class="half red">
            <div class="card" id="card">
                <h1 id="card-title">Protegendo Hoje,<br>Garantindo sua<br>Tranquilidade<br>Amanhã.</h1>
                <img src="{{ url_for('static', filename='undraw_fingerprint_login_re_t71l 1.svg') }}" alt="" class="image-content" id="image-content">
                <img src="{{ url_for('static', filename='Group 11 (1).svg') }}" alt="" class="icon-img" id="icon-img">
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
